header {
    background: #BBBBBB; <!-- adiciona cor ao "plano de fundo"-->
    padding: 20px 0; <!-- é adicionado preenchimento de 20 px em cima e em baixo e 0px nas laterais -->
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}